@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #333 !important;
  font-family: 'Montserrat',sans-serif;
}



