<template>
    <header>
      <ul class="navigation">
        <li><router-link to="/">Home</router-link></li>
        <li><router-link to="Projects">Porfolio</router-link></li>
        <li><router-link to="Work">Resume</router-link></li>
      </ul>
    
        <div >
          <a href="https://github.com/SamWij"><img class='social-icon' src='../assets/github32.png' alt="git hub link"></a>
        </div>
        <div >
          <a href="https://www.linkedin.com/in/samwijesinha/"><img class='social-icon' src='../assets/linkedin32.png' alt="linkedin link"></a>
        </div>
        <div class="last-social">
          <a href="https://twitter.com/CTRL_ALT_DEL"><img class='social-icon' src='../assets/twitter32.png' alt="twitter link"></a>
        </div>
    </header>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

  header {
    display: flex;
    flex-direction: row;
    height: auto;
    padding-top: 20px;
    padding-left: 50px;
  }

  div {
    padding-right: 20px;
  }

  .navigation {
    font-family: 'Roboto Mono', monospace;
    list-style: none;
    font-size: 1.5em;
    margin: 0; 
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
}

  .social-icon {
    height: 50px;
  }

  a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #fff;
  }
</style>
