<template>
  <el-main>
    <h1>Hi, I'm  <router-link v-tooltip="'Click here for my Resume'" to="work">Samantha</router-link><span>.</span></h1>
    <h1>I'm a Product Owner<span > &</span></h1>
    <div class='diamond-block'>
      <h1><router-link to="projects">Web Developer</router-link><span>.</span></h1>
      <img class='diamond hidden-sm-only' src="../assets/diamond.png" alt="diamond image">
    </div>
  </el-main>
</template>

<style scoped>
  @import url('https://fonts.googleapis.com/css?family=Montserrat:700');

.el-main {
    color: #fff;
    padding-top: 2em;
    padding-left: 30px !important;
  }

  h1 {
    font-size: 6em;
    line-height: 1.5em;
  }

  a {
    color :#57DBB0;
    transition: .2s;
  }

  span {
    color: #D292E0;
  }

  a:hover {
    color: #FF9EC9;
    cursor: pointer;
  }

   .diamond {
    display: block !important;
    height: 10%;
    width: 10%;
    padding-top: 40px;
  }

  .diamond:hover {
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
  }

  .diamond-block {
    display: flex;
  }

</style>
