<template>
  <el-main>
    <h1>Technical Projects</h1>
    <div class="container">
      <div></div>
    </div>
  </el-main>
</template>

<script>
export default {
  data () {
    return {
      projects: [
        {
          'title': 'project 1',
          'overview': 'As a member of the Development team I build websites and applications for clients in the public service, health, education, giving, and environment sectors.',
          'technical': ['Vue.js', 'Node.js', 'AWS', 'Heroku', 'HTML', 'CSS', 'JavaScript', 'SilverStripe']
        },
        {
          'title': 'project 2',
          'overview': 'As a member of the Development team I build websites and applications for clients in the public service, health, education, giving, and environment sectors.',
          'technical': ['Vue.js', 'Node.js', 'AWS', 'Heroku', 'HTML', 'CSS', 'JavaScript', 'SilverStripe']
        }
      ]
    }
  }
}

</script>

<style scoped>
</style>
