<template>
<el-main>
  <el-row type="flex">
    <h1 class='title'> <a href="#">Download Resume</a><span>.</span></h1>
    <img class='tapedeck' src="../assets/tapedeck.png" alt="tape deck image">
  </el-row>

  <div class="resume">
    <div class="summary">{{ summary }}
    </div>

    <div v-for="experience in experience" :key="experience.id" class='job'>
      <div class='job-title'>{{ experience.title }}
      </div>

      <div class='company'>{{ experience.company }}
      </div>

      <div class='date'>{{ experience.start }} - {{ experience.finish }}  - <span class='city'>{{ experience.city }} </span>
      </div>

      <div class="accordian-main">
        <div class="accordian" title="Overview" >
          <h1 class="resume-title">Overview:</h1>
          <div class="overview">{{ experience.overview }}

          </div>
        </div>

        <div class="accordian" title="Responsibilities">
          <h1 class="resume-title">Responsibilities:</h1>
            <ul>
              <li v-for="item in experience.description" :key="item.id">{{ item }}</li>
            </ul>
        </div>

        <div class="accordian tech-acc" title="Technology">
          <h1 class="resume-title">Technology:</h1>
            <el-row>
              <el-col :span="6" v-for="item in experience.technical" :key="item.id">
                <div class="grid-content">
                    {{ item }}
                </div>
              </el-col>
            </el-row>
        </div>
      </div>
    </div>
  </div>
</el-main>
</template>

<script>
export default {
  data () {
    return {
      activeNames: ['1'],
      summary:
          'As a Digital Project Manager and Web Developer I enjoy creating digital solutions to solve real world problems for customers. A self-starter I strive on bridging the gap between technology and business to build the right solution for customers.',
      experience: [
        {
          'company': 'Today',
          'title': 'Web Developer',
          'city': 'Melbourne, Australia',
          'start': 'January 2018',
          'finish': 'present',
          'overview': 'As a member of the Development team I build websites and applications for clients in the public service, health, education, giving, and environment sectors.',
          'description': [
            'Back end development of websites and web applications',
            'Creation and configuration of servers and continuous deployment',
            'Assist in designing a solution to deliver the best outcome for the Client',
            'Participate in user story/features development, road mapping and design workshops',
            'Quality Assurance: Unit, Functional, Integration and cross browser/device testing and Accessibility Testing'
          ],
          'technical': [
            'Vue.js', 'Node.js', 'AWS', 'Heroku', 'HTML', 'CSS', 'JavaScript', 'SilverStripe'
          ]
        },
        {
          'company': 'Code for Australia',
          'title': 'Web Developer & Technical Project Manager',
          'city': 'Melbourne, Australia',
          'start': 'June 2017',
          'finish': 'November 2017',
          'overview': 'sentence',
          'description': [
            'User research using Service Design Methodology (Interviewing, synthesising and mapping customer journeys).',
            'Implementing Agile practices to the business and translate between technology and non-technical stakeholders',
            'Key technical liason with Department of Justice IT (KITS)',
            'Develop a prototype, conceptual solution design document and implementation plan for integration with Drupal 8',
            'Developed a prototype to triage users through online decision tree tool.',
            'Show progress through Sprint Showcases, Retrospectives and Minimum Viable Product backlog management.'
          ],
          'technical': [
            'Node.js', 'JavaScript', 'Handlebars', 'Travis', 'AWS', 'Drupal 8'
          ]
        },
        {
          'company': 'Victorian Chamber of Commerce and Industry',
          'title': 'Digital Project Manager',
          'city': 'Melbourne, Australia',
          'start': 'August 2015',
          'finish': 'January 2017',
          'overview': 'sentence',
          'description': [
            'Backlog review of user stories',
            'Sprint planning activities',
            'Advise on technical build to date against stories',
            'Review acceptance criteria'
          ],
          'technical': ['Sitecore', 'Salesforce']
        }
      ]
    }
  }
}
</script>
<style scoped>
  @import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

  .title {
    font-size: 30px;
    font-weight: 100;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 100px;
  }

  .tapedeck {
    display: block !important;
    height: 10%;
    width: 10%;
    padding-top: 20px;
  }

  .tapedeck:hover {
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
  }

  a {
    color:#03A1FF;
    transition: .2s;
  }

  a:hover {
    color:#F5CF00;
    cursor: pointer;
  }

  .resume {
    font-family: 'Roboto Slab', serif;
    padding-left: 80px;
    width: 70%;
  }

  .resume-title {
    text-align: left;
    padding-bottom: 20px;
  }

  .city,
  .date {
    font-size: 19px;
    color: #fff;
  }

  .job-title {
    color:#59DDAC;
    font-size: 26px;
    font-weight: bold;
  }

  .company {
    font-size: 26px;
    font-weight: bold;
    color: #D292E0;
  }

  .accordian {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .tech-acc {
    padding-bottom: 50px;
  }

  .resume-title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }

  .overview {
    padding-top: 10px;
    font-size: 19px;
    width: 70%;
  }

  p {
    padding: 0;
    margin: 0;
  }

  ul, li {
    color: #fff;
    background-color: #333;
    font-size: 19px;
    margin: 0;
  }

  .summary {
    font-size: 26px;
    height: 100px;
    width: 80%;
    padding-bottom: 110px;
  }

  .grid-content {
    border-radius: 4px;
    min-height: 36px;
    background-color:#03A1FF;
    color: #fff;
    margin: 5px;
    text-align: center;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .el-col{
    width: 10%;
  }
</style>
