<template>
<el-container id="app">
  <Header></Header>
  <router-view></router-view>
  <el-footer></el-footer>
</el-container>
</template>

<script>
import './assets/css/global.css'
import Header from './components/Header'

export default {
  name: 'App',
  components: {
    Header
  }
}
</script>
